
body {
font-family: 'Unna', serif;
font-weight: 400;

}
.navbar-brand{
    font-family: 'Great Vibes', cursive; 
    font-size: 30px;
    font-weight: 400;
    
}
#navbarNav ul {
    margin-left: auto;
    
}
nav {
    background-color: #36138D;
}

header {
    background-image: url('../img/bg_hero.png');
    width: auto;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.hero-text{
    text-align: center ;
    color: white;
    padding-top: 200px;
}

hr {
    height: 30px;
    border-color: black;
    width: 120px;
}

.container p {
    font-size: 15px;
}

#about {
    padding-top: 50px;
}

.carousel{
    background-color:white;
    margin-top: 20px;
    padding: 5% 0% ;
    text-align: center;
    
  }



.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}
.container i {
    font-size: 70px;
    padding: 7px;
    background-color: #36138D;
    color: cornsilk;
    border-radius: 20%;
}
.container h6{
    font-weight: 700;
    font-size: 30px;
}
.container p {
    font-size: 22px;
}    
 h3 {
     font-weight: 700;
     font-size: 50px;
     text-align: center;
 }
 #trabajos {
     background-color: #36138D;
     color: aliceblue;
     padding: auto;
 }
 .card-text {
     color: black;
 }

 
 
